@font-face {
    font-family: gotham-bold;
    src: url("../fonts/Cera\ Pro\ Bold.otf");
}

@font-face {
    font-family: gotham-medium;
    src: url("../fonts/Cera\ Pro\ Medium.otf");
}

:root {
    --pri-nav-col: #09a7e4;
    --sec-nav-col: #c6e2ee;
  }

.logo{
    font-family: "gotham-bold";
    font-size: x-large;
    color: var(--sec-nav-col);
}

.tabs{
    display: flex;
    flex-direction: row;
 }

.tab-button{
    font-family: gotham-medium;
    color: var(--sec-nav-col);
    font-size: large;
    text-align: center;
    margin: 1rem;
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
}


.tab-button:hover{
    transform: scale(1.1);
    color: var(--pri-nav-col);
    cursor: pointer;
    
}

.hamburger:hover .line{
    background-color: var(--pri-nav-col);
}

.line{
    width: 32px;
    height: 2px;
    margin-top: 7px;
    border-radius: 2px;
    margin-bottom: 7px;
    background-color: var(--sec-nav-col);
}

@media (max-width: 768px) {
    .hamburger{
        visibility: visible;
    }

    .tabs{
        display: flex;
        position: fixed;
        background-color: black;
        width: 100%;
        align-self: flex-end;
        flex-direction: column;
        top: 50px;
        visibility: hidden;
    }

    .logo{
        align-content: center;
    }

    .line{
        width: 28px;
    }
}

@media (min-width: 768px){
    .hamburger{
        visibility: hidden;
        display: none;
    }
}